.statsView {
  margin: 1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.loading {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
